Flask==0.12.2

# Flask Extensions
Flask-PyMongo==0.5.1
flask-restful==0.3.6
Flask-Cache==0.13.1

# Other
flasgger==0.8.0
mongomock==3.8.0
pytest-mock==1.6.3

# Testing
pytest==3.0.5
pytest-cov==2.4.0
