<html>
  <head>
    <title>Flask API - Test</title>
  </head>
  <body bgcolor=white>

    <h1>Below the URLs accessibles for the API</h1>
     (ideally should be generated via swagger or something else)

    <ul>
      <li><a href="{{ url_root }}songs">GET /songs</a></li>
      <ul><li>Returns a list of songs with some details on them</li></ul>
      <ul><li>Possibility to paginate by adding the parameters page_size and page_num</li></ul>
      <ul><li>Page_size is 3 by default</li></ul>
      <ul><li>Gives back in the header X-total-count of the total number of documents</li></ul>
      <ul><li>Gives back in the header Link url to the first / next / prev / last pages if available</li></ul>
    </ul>

    <ul>
      <li>GET /songs/avg/difficulty</li>
      <ul><li>Takes an optional parameter "level" to select only songs from a specific level.</li></ul>
      <ul><li>Returns the average difficulty for all songs.</li></ul>
    </ul>

    <ul>
      <li>GET /songs/search</li>
      <ul><li>Takes in parameter a 'message' string to search.</li></ul>
      <ul><li>Return a list of songs. The search should take into account song's artist and title.</li></ul>
    </ul>

    <ul>
      <li>POST /songs/rating</li>
      <ul><li>Takes in parameter a "song_id" and a "rating"</li></ul>
      <ul><li>This call adds a rating to the song. Ratings should be between 1 and 5.</li></ul>
    </ul>

    <ul>
      <li>GET /songs/avg/rating/</li>
      <ul><li>Returns the average, the lowest and the highest rating of the given song id.</li></ul>
    </ul>

  </body>
</html>
